@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Registration Management System</h1>
    <p>Select top menu registration to register student for courses or click <a href="/Registration">here</a>.</p>
</div>