@page
@model Lab2.Pages.Registration
@using AcademicManagement; 
@{
    ViewData["Title"] = "Registrations";
}
<h1>@ViewData["Title"]</h1>

<div>

    <div>
        <form method="post">
                    <select asp-for="SelectedStudentId" asp-items="Model.StudentOptions">
                        <option value="">Choose a student</option>
                    </select>
                    <input type="submit" class="btn btn-primary" value="Get Registrations" asp-page-handler="Register" />
                    
                  <p id="message"></p>  
            @if (!string.IsNullOrEmpty(Model.SelectedStudentId))
            {
                var selectedStudent = Model.Students.FirstOrDefault(s => s.StudentId == Model.SelectedStudentId);
                if (selectedStudent != null)
                {
                    @if (Model.AcademicRecords.Count == 0)
                    {
                        <p>No registered courses yet!</p>
                    }
                    else
                    {
                        <p>The student is registered in the following courses</p>
                    }
                    <input type="hidden" asp-for="SelectedStudentId"/>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Course Title</th>
                                @if (Model.AcademicRecords.Count == 0)
                                    {
                                        <th>Check to register</th>
                                    }
                                
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var course in Model.Courses)
                            {
                                <tr>
                                    <td>@course.CourseCode</td>
                                    <td>@course.CourseTitle</td>
                                    @if (Model.AcademicRecords.Count == 0)
                                    {
                                        <td>
                                            
                                                <input type="checkbox" id="CourseCode" name="CourseCode" value="@course.CourseCode"/>
                                            
                                        </td>
                                    }
                                    
                                </tr>
                            }
                            </tbody>
                        </table>
                        <input type="submit" class="btn btn-primary" value="Register" asp-page-handler="StudentSelected" />

                }
                else
                {
                    <p>No student found with the selected ID.</p>
                }
            }
            else
            {
                <p>You must select a student first</p>
            }
        </form>
    </div>

</div>
